/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    /* background: #4070f4; */
    background: linear-gradient(135deg, #05073a,#dc0606ca);
   
    /* background-color: #ebd197; */
    /* background-color: #DBA514; */
}

.ctext{
  
    text-align: center;
    font-weight: bold;
   
}

.section1{
    background-color: #fff;
}

.navbg{
    background-color: black;

}


.container1{
    position: relative;
   
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.footer{
   
    
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.carImg{
    width: 40%;
}
.container1 header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container1 header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container1 form{
    position: relative;
    margin-top: 16px;
    background-color: #fff;
    overflow: hidden;
}
.container1 form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container1 form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container1 form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container1 form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}

.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}


form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}
.container1 form{
    overflow-y: scroll;
}
.container1 form::-webkit-scrollbar{
    display: none;
 }

@media (max-width: 750px) {
    .container1 form{
        overflow-y: scroll;
    }
    .container1 form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
    main{
        display: block;
    }
    .carImg{
        width: 100%;
    }
}
body {
	font-family: "Roboto Serif", sans-serif;
}
.imgh {
	height: 500;
}
section {
	padding-top: 30px;
}
.card {
	padding: 15px;
	margin: 10px;
}

.cards {

	background-color: black;
}
.c.t {
	position: relative;
	text-align: center;
	color: white;
}
.ot {
	border-radius: 25%;
}
.mes {
	padding-top: 20px;
}
.OT {
	margin-top: 40px;
}
.carousel-inner>img{
    width: 50%;
}
.jumbo{
    background-image: url(image/pexels-expect-best-323780.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 300px;
    background-blend-mode: lighten;
}
#container {
    width: 100px;
    height: 100px;
    position: relative;
  }
  #navi,
  #infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #infoi {
    z-index: 10;
  }
